
/* ==========================================================================
  btn styles
========================================================================== */

.btn{
	white-space: normal;
	// zodat langere teksten netjes onder elkaar vallen
	font-family: @font-family-sans-serif;
	font-size: 0.9em;
	padding: 0.5em 1.2em;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.02);
	text-shadow: 1px 1px 0 rgba(0,0,0,0.02);
	
	//hover state animation
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;

	// icon in btn
	i{
		padding-right: 0.5em;
	}

}
