<div class="navbar navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="{{ site.url }}/img/logo.png"/></a>
      <a data-placement="top" data-toggle="tooltip" href="#" data-original-title="Tooltip on top" class="pull-right navbtn" id="nav-btn">
        <i class="icon-reorder"></i>
        <i class="icon-remove-sign"></i>
      </a>
    </div><!-- /.container -->
</div>

<div class="full-nav" id="full-nav">
  <div class="container">
    <div class="row">
      <div class="col col-lg-4  col-sm-4">
        <p>over ons</p>
      </div>
       <div class="col col-lg-4 col-sm-4">
        <p>met ons werken?</p>
      </div>
       <div class="col col-lg-4 col-s-4">
        <p>contact</p>
      </div>
    </div>

    <div class="row">
      <div class="page-header">
        <h4>Ons recente werk:</h4>
      </div>
    </div>

    <div class="row">
      <div class="col col-lg-12">
        <ul class="nav">
          <li>
            <a href="{{ site.url }}">
              <p>responsive webdesign</p>
              <h3>Gouwestad makelaardij</h3>
            </a>
          </li>
          <li>
            <a href="{{ site.url }}">
              <p>een digitale verhuurcampagne</p>
              <h3>Zuidplashof</h3>
            </a>
          </li>
          <li>
            <a href="{{ site.url }}">
              <p>retro in een nieuw jasje</p>
              <h3>Tourmalijn</h3>
            </a>
          </li>
          <li>
            <a href="{{ site.url }}">
              <p>U bedenkt, wij bouwen</p>
              <h3>Mijn Type A</h3>
            </a>
          </li>
          <hr>
          <li>
            <a href="{{ site.url }}">
              <p>wat wij doen...</p>
              <h3>over ons bedrijf</h3>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

