{% include head.html %}

{% include menu.html %}

<div class="page-container">

{{ content }}

<footer>
    <section class="graydark">
      <div class="footer-bg gouwestadmakelaardij"></div>
        <div class="container">
          <div class="row center">
            <div class="col col-lg-12">
              <a href="{{ site.url }}/contact.php" class="btn btn-primary">met ons werken?
              </a>
            </div>
          </div>
        </div>
    </section>
    <div class="container copy">
      <div class="row">
        <div class="col col-lg-9">
          <p><small>2013 Gouwestad Marketing & Media</small></p>
        </div>
        <div class="col col-lg-3">
        <div class="row">
          <div class="col col-lg-4 col-sm-6">
            <div class="g-plusone"></div>
          </div>
          <div class="col col-lg-4 col-sm-6">
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgouwestad.com&amp;send=false&amp;layout=button_count&amp;width=120&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe>
          </div>
        </div>
      </div>
    </div>
   </div>
  </footer>

</div>

{% include footer.html %}